.bannerArea {
    background-color: darkcyan;
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: sticky;
    width: 100%;
    top: 0;
    align-items: center;
    box-shadow: 0px 0px 20px darkcyan;
}

.mainDivWithoutHeader {
    margin: 0px 50px;
    /* margin-top: 80px; */

}

.commonButtonStyle {
    font-weight: bolder;
    background-color: darkcyan;
    color: white;
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 0.65em;
    text-transform: uppercase;
}

.bannerLeft {
    flex: 0.5;
    text-align: left;
    padding: 10px 30px;
}

.bannerRight {
    flex: 0.5;
    text-align: right;
    padding: 10px 30px;
}


/* FruitsList.js */
.fruitsul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 20px 10px;
    justify-content: center;
}

.fruitsli_invisible {
    width: 135px;
    /* text-align: center; */
    background-color: lightgray;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.addFruitFieldRow {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 35%;
    align-self: center;
    margin:10px 30px; 
}

.fruitsli {
    width: 135px;
    /* text-align: center; */
    /* background-color: lightgray; */
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.txtWeight {
    width: -webkit-fill-available;
}

.divWeightInputUnit {
    /* margin: 5px 15px; */
    display: inline;
    flex-direction: row;
    justify-content: center;
    place-items: center;
}

.cartEncircled {
    border: 1px solid red;
    background-color: red;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 65px;
    width: 18px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

.ulcart {
    min-height: 300px;
    height: 350px;
    /* background-color: lightgray; */
    overflow: overlay;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 15px 10px;
    padding-inline-start: 0px;
}

.licart {
    padding: 10px 20px;
    border-bottom: 1px solid lightgray
}

.modalCartReceipt {
    display: flex;
    flex-direction: row;
    /* default: side by side */
    gap: 1rem;
    font-size: 0.9rem;
}

.btnCartReceipt {
    font-size: 0.9rem;
}


.adminLoggedInMenuTitle {
    font-weight: bolder;
    text-align: center;
    margin: 10px 0px;
    color: darkcyan;
}

.adminLoggedInMenu {
    display: flex;
    flex-direction: column;
}

.adminLoggedInMenuList {
    padding: 5px 40px;
    cursor: pointer;
}

.btnLogin {
    background-color: lightcyan;
    border: 0px;
    padding: 2px 12px;
    border-radius: 20px;
    border: 1px solid darkcyan;
    font-size: 0.70em;
    font-weight: bolder;
    cursor: pointer;
}

/* Mobile View: Stack top-bottom */
@media (max-width: 768px) {
    .modalCartReceipt {
        font-size: 0.7rem;
        /* smaller font on mobile */
        flex-direction: column !important;
    }

    .btnCartReceipt {
        font-size: 0.7rem;
    }
}