.bannerArea {
    background-color: darkcyan;
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: sticky;
    width: 100%;
    top: 0;
    align-items: center;
    box-shadow: 0px 0px 20px darkcyan;
}

.mainDivWithoutHeader {
    margin: 0px 30px;
    /* margin-top: 80px; */

}

.commonButtonStyle {
    font-weight: bolder;
    background-color: darkcyan;
    color: white;
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 0.65em;
    text-transform: uppercase;
}

.freshuitLogoTop {
    width: 8vw; /* scales with viewport width */
    max-width: 40px; /* sets an upper limit */
    /* min-width: 30px; sets a lower limit */
    background: white;
    margin: 0 1vw 0 -1vw; /* responsive margins */
    border-radius: 50%; /* always perfectly round */
    transition: all 0.3s ease; /* smooth resizing */
}

/* Optional: Fine-tune for smaller screens */
@media (max-width: 600px) {
    .freshuitLogoTop {
        width: 20vw;
        /* height: 10vw; */
        /* max-width: 30px; */
        margin: 0 3vw 0 -2vw;
    }
}
/* .freshuitLogoTop {
    width: 45px !important;
    background: white;
    margin: 0px 10px 0px -5px;
    border-radius: 60px;
} */


.freshuitLogoTopAdmin  {
    width: 40% !important;
     background: white;
    margin: 0px 10px 0px -5px;
    border-radius: 41px;
    align-self: center;
}

.bannerLeft {
    flex: 0.8;
    text-align: left;
    padding: 10px 30px;
    justify-content: center;
}

.bannerRight {
    flex: 0.2;
    text-align: right;
    padding: 10px 30px;
}


/* FruitsList.js */
.fruitsul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 20px 10px;
    justify-content: center;
}

.addFruitFieldRow {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 50%;
    align-self: center;
    margin: 10px 30px;
}

.fruitsli {
    width: 135px;
    /* text-align: center; */
    /* background-color: lightgray; */
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}


.fruitsli_invisible {
    width: 135px;
    /* text-align: center; */
    background-color: lightgray;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.comingSoon {
    font-size: 0.7em;
    font-weight: bold;
    color: orange;
}

.txtWeight {
    width: -webkit-fill-available;
}

.divWeightInputUnit {
    /* margin: 5px 15px; */
    display: inline;
    flex-direction: row;
    justify-content: center;
    place-items: center;
}

.cartEncircled {
    border: 1px solid red;
    background-color: red;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 65px;
    width: 18px;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

.ulcart {
    /* min-height: 300px;
    height: 350px; */
    /* background-color: lightgray; */
    overflow: overlay;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 15px 10px;
    padding-inline-start: 0px;
}

.licart {
    padding: 10px 20px;
    border-bottom: 1px solid lightgray
}

.modalCartReceipt {
    display: flex;
    flex-direction: row;
    /* default: side by side */
    gap: 1rem;
    font-size: 0.9rem;
}

.btnCartReceipt {
    font-size: 0.9rem;
}


.adminLoggedInMenuTitle {
    font-weight: bolder;
    text-align: center;
    margin: 10px 0px;
    color: darkcyan;
}

.adminLoggedInMenu {
    display: flex;
    flex-direction: column;
}

.adminLoggedInMenuList {
    padding: 5px 40px;
    cursor: pointer;
}

.btnLogin {
    background-color: lightcyan;
    border: 0px;
    padding: 2px 12px;
    border-radius: 20px;
    border: 1px solid darkcyan;
    font-size: 0.70em;
    font-weight: bolder;
    cursor: pointer;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    font-weight: bolder;
    margin-bottom: 20px;
      position: sticky;
        top: -20px;
        background: white;
}

.modalHeaderButtons {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}

.updateFruitDiv {
    display: flex;
    flex-direction: row;
    margin: 0px 45px;
}

@media (max-width: 900px) {
      .orderLayout{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}

/* Mobile View: Stack top-bottom */
@media (max-width: 768px) {
    .modalCartReceipt {
        font-size: 0.7rem;
        /* smaller font on mobile */
        flex-direction: column !important;
    }

    .btnCartReceipt {
        font-size: 0.7rem;
    }
}

@media (max-width: 760px) {

  

    .addFruitFieldRow {
        display: flex;
        flex: 1 1;
        justify-content: space-between;
        width: 70%;
        align-self: center;
        margin: 10px 30px;
        flex-direction: column;
    }

    .modalHeader {
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        font-weight: bolder;
        margin-bottom: 20px;
        flex-direction: column !important;
        justify-content: flex-end !important;
                position: sticky;
        top: -20px;
        background: white;
    }

    .modalHeaderButtons {
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
        flex-flow: wrap;
        justify-content: center !important;
        gap: 5px 15px;
    }

    .updateFruitDiv {
        display: flex;
        flex-direction: row;
        margin: 0px 0px;
    }



    .fruitsli {
        width: 90px;
        /* text-align: center; */
        /* background-color: lightgray; */
        border: 0.5px solid lightgray;
        border-radius: 5px;
        padding: 5px;
    }


    .fruitsli_invisible {
        width: 90px;
        /* text-align: center; */
        background-color: lightgray;
        border: 0.5px solid lightgray;
        border-radius: 5px;
        padding: 5px;
    }

}