.bannerArea {
    background-color: lightyellow;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.bannerLeft {
    flex: 0.5;
}

.bannerRight {
    flex: 0.5;
}


/* FruitsList.js */
.fruitsul {
    display: flex;
    flex-wrap: wrap;
gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0px 10px;
    justify-content: center;
}

.fruitsli {
    width: 135px;
    /* text-align: center; */
    /* background-color: lightgray; */
    border: 0.5px  solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.txtWeight {
    width: -webkit-fill-available;
}

.divWeightInputUnit {
    /* margin: 5px 15px; */
    display: inline;
    flex-direction: row;
    justify-content: center;
    place-items: center;
}